<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!!</title>
    <style>
 body{background:#fafafa;}

      .text-center a {    text-decoration: none;
    border: 1px solid #1da1f2;
    background: #1da1f2;
    color: #fff;
    padding: 0.4em;
    border-radius: 2em;
    margin: 0em;
    font-size:1.3em;
}
.text-center a:hover {background:#006dbf;}

    </style>
  </head>
    <body>
        <h1 class="text-center">OTP sent successfully!!</h1>
        
        <div class="text-center" style="margin:2em;"><a href="/list">Go Back</a></div>
    </body>
</html>



