<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!!</title>
  </head>
    <body>
        <h1 class="text-center">OTP sent successfully!!</h1>
        
        <button class="text-center"><a href="/list">Go Back</a></button>
    </body>
</html>



