<DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
 body{background:#fafafa;}
 .row {margin: 3em 0em;}
 .col-md-4 {background: #fff;padding: 1em 0em 3em 0em;border-radius: 4px;box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 50px 0 rgba(0,0,0,.19);}
 p{font-size:1.5em;}
 .text-center a {    text-decoration: none;
    border: 1px solid #1da1f2;
    background: #1da1f2;
    color: #fff;
    padding: 0.4em;
    border-radius: 2em;
    margin: 0em;
    font-size:1.3em;    
}
p {font-size:1.5em;}
</style>

</head>
<body>
   <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
     <h2 class="text-center">Contact</h2> 
    
      <p class="text-center"><%= contact.first %> <%= contact.last %></p>
      <p class="text-center"><%= contact.phone %></p>
    <div class="text-center">
    <a href="/list/<%=contact.id%>/compose">Send Message</a>    
    </div>
  </div>
 </div>
</div>
</body>
</html>    
 
                                                                                                                                   
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                                
