<DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
 body{background:#fafafa;}
 .col-md-4 {background: #fff;}
</style>

</head>
<body>
   <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
     <h2 class="text-center">Contact</h2> 
    
      <p class="text-center"><%= contact.first %> <%= contact.last %></p>
      <p class="text-center"><%= contact.phone %></p>
    <div class="text-center">
    <a href="/list/<%=contact.id%>/compose">Send Message</a>    
    </div>
  </div>
 </div>
</div>
</body>
</html>    
 
                                                                                                                                   
                                                                                                                                 
                                                                                                                                 
                                                                                                                                 
                                                                                                                                                
